body{
    background-color:wheat;
}

h1 {
    display: flex;
    justify-content: center;
    font-size:60px;
    color:darkorange;
}

#pievienosanasPoga{
    display: flex;
    justify-content: center;
    border: 1px;
}

#jaunsDarbs {
    display: flex;
    justify-content: center;
    background-color:rgb(253, 182, 49)
}

#dzesanasPoga {
    display: flex;
    justify-content: center;
}

#dzestDarbu {
    background-color: rgb(253, 182, 49);
}

#pievienotDarbu {

}