body{
    background-color:wheat;
}

h1 {
    display: flex;
    justify-content: center;
    font-size:60px;
    color:darkorange;
}

#pievienosanasPoga{
    display: flex;
    justify-content: center;
    border: 1px;
}

#jaunsDarbs {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 25px;
    font-size: 15px;
    background-color:rgb(253, 182, 49)
}

#dzesanasPoga {
    display: flex;
    justify-content: center;
    display: none;
}

#dzestDarbu {
    background-color: rgb(253, 182, 49);
}

#darbaLapa {
    display: none;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    background-color:lightsalmon;
}

#darbuSaraksts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.darbs {
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    padding: 15px;
    margin: 20px;
    background-color: darkkhaki;
    overflow-wrap: break-word;
    font-size: 20px;
}